{% load static %} 

{% block body %}

{% include 'navigation.html' %} 


<marquee class="text" style="color:red ; font-family:San-serif; font-size: 25px;color:brown ; background-color: black; font-weight:bolder; margin-top: 1%;">
    Admin Login

</marquee>

<hr>
<form class="container margin-top-5" method="post">
    {% csrf_token %}
    <label><b>User Name</b></label>
    <input  type="text" name="uname" class="form-control" placeholder="Enter your username" id="username">  
    
    <label><b>Password</b></label>
    <input  type="password" name="pwd" class="form-control" placeholder="Enter  password" id="password">  
   
   
    <input  type="submit" name="Password" class="btn btn-primary" style="margin-top: 1%; margin-bottom:0 ; color:crimson ; background-color: black; height: 40px; font-size: 20px;">  

</form>

 {% include 'footer.html' %} 
 {% if error == "no" %}
    <script>
        alert("Login successful");
        window.location = ('{% url 'admin_home' %}')  
    </script>
{% endif %}  

{% if error == "yes" %}
    <script>
        alert("Something went wrong");
    </script>
{% endif %}  



{% endblock %}
