{% load static %} 

{% block body %}

{% include 'recruiter_navigation.html' %} 

<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value )
        {
            alert('New password and confirm password does not match');
            document.changepassword.newpassword.focus();
            return false;
        }
        return true;
    }
</script>

<marquee class="text" style="color:red ; font-family:San-serif; font-size: 25px;color:brown ; background-color: black; font-weight:bolder; margin-top: 1%;">
Change Password Recruiter

</marquee>

<hr>
<form class="container margin-top-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input  type="passord" name="currentpassword" class="form-control" required="true"> 

    <label><b>New Password</b></label>
    <input  type="passord" name="newpassword" class="form-control" required="true">

    <label><b>Confirm New Password</b></label>
    <input  type="passord" name="cofirmpassword" class="form-control" required="true">  
    
    
    
   
   
    <input  type="submit" name="Password" class="btn btn-primary" style="margin-top: 1%; margin-bottom:0 ; color:crimson ; background-color: black; height: 40px; font-size: 20px;">  

</form>

 {% include 'footer.html' %} 
 {% if error == "no" %}
    <script>
        alert("Password update successful");
        window.location = ('{% url 'Logout' %}')  
    </script>
{% endif %}  

{% if error == "yes" %}
    <script>
        alert("Something went wrong...try again ");
    </script>
{% endif %} 

{% if error == "not" %}
    <script>
        alert("Your current password is wrong...try again ");
    </script>
{% endif %}  

{% endblock %}