{% load static %} 

{% block body %}

{% include 'recruiter_navigation.html' %} 

<marquee class="text" style="color:red ; font-family:San-serif; font-size: 25px;color:brown ; background-color: black; font-weight:bolder; margin-top: 1%;">
   Change Company Logo

</marquee>

<hr>
<form class="container margin-top-5"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Job title</label>
            <input type="text" class="form-control"  readonly name="jobtitle" value="{{job.title}}" required>
        </div>  
  
    </div>

    

    <div class="form-row">    
        
        <div class="form-group col-md-12">
            <img src="{{job.image.url}}" width="120" height="90"><a href="">
        </div> 
    </div>

    <div class="form-row">    
        <div class="form-group col-md-12">
            <label>Company Logo</label>
            <input type="file" class="form-control" name="logo" placeholder="Company Location" required>
        </div>  

    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary" required>
</form>

{% include 'footer.html' %} 

 {% if error == "yes" %}
    <script>
        alert("Company logo has been updated successfully");
        window.location = ('{% url 'change_companylogo' job.id %}')  
    </script>
{% endif %}  

{% if error == "no" %}
    <script>
        alert("Something went wrong");
    </script>
{% endif %} 





{% endblock %}